@model PFSign.Data.SignIn

@{
    ViewData["Title"] = "签到";
}

<h2>Sign In</h2>

<h4>签到</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seat" class="control-label"></label>
                <input asp-for="Seat" class="form-control" type="number" />
                <span asp-validation-for="Seat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="签到" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        @await Component.InvokeAsync("SeatStats")
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('.seat').click(function () {
            $('#Seat').val($(this).attr('data-seat'))
        })
    </script>
}
